body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 768px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Aquí van tus estilos para el ejercicio */